<div class="page-header">
    <div class="page-title">
        <!-- <h4>Product Add Category</h4>
        <h6>Create new product Category</h6> -->
         <h4>Categorie produit</h4>
         <h6 *ngIf="!editForm.value.id">Creer un nouveau rôle</h6>
         <h6 *ngIf="editForm.value.id">Modifier un rôle</h6>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form  [formGroup]="editForm" (ngSubmit)="save()">
            <div class="row">
           
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="name">Nom <span class="text-danger">*</span></label>
                        <input id="name" type="text" formControlName="name">
                        <span *ngIf="submitted && f.name.errors">
                            <span class=" text-danger" *ngIf="f.name.errors.required">Champ requis</span>
                        </span>
                    </div>
                </div>
                <div class="col-lg- col-sm-6 col-12">
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-select" required aria-label="select example" formControlName="status">
                            <option [value]="STATUS.ENABLE">Activer</option>
                            <option [value]="STATUS.DISABLE">Désactiver</option>
                        </select>
                        <span *ngIf="submitted && f.status.errors">
                            <span class="text-danger" *ngIf="f.status.errors.required">Champ requis</span>
                        </span>
                    </div>
                </div>
               
              
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-submit me-2" >{{
                        editForm.value.id?"Modifier":"Save"
                        }}</button>
                    <a routerLink="/admins/roles/list" class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </form>
       
    </div>
</div>

