<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li  >
                    <a routerLink="/dashboard"><img src="assets/img/icons/dashboard.svg" alt="img"><span>
                            Dashboard</span> </a>
                </li>
                <li class="submenu" >
                    <a  href="javascript:void(0);" ><img src="assets/img/icons/product.svg" alt="img" ><span>
                            Product</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a  routerLink="/products">Liste produits</a></li>
                        <li><a routerLink="/products/add">Ajout produits</a></li>
                        <li><a  routerLink="/categories">Liste categories</a></li>
                        <li><a  routerLink="/categories/add">Ajout Categorie</a></li>
                        <li><a href="javascript:void(0);">Import Products</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="javascript:void(0);"><img src="assets/img/icons/sales1.svg" alt="img"><span>
                            Ventes</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a routerLink="/sales/list">Liste des Ventes</a></li>
                        <li><a  routerLink="/sales/add">Ajouter une vente</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="javascript:void(0);"><img src="assets/img/icons/purchase1.svg" alt="img"><span>
                            Achats</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a routerLink="/orders/list">Liste des achats</a></li>
                        <li><a  routerLink="/orders/add">Ajouter un achat</a></li>
                    </ul>
                </li>



                <li class="submenu">
                    <a href="javascript:void(0);"><img src="assets/img/icons/users1.svg" alt="img"><span>
                            People</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a  routerLink="/peoples/clients">Liste clients</a></li>
                        <li><a routerLink="/peoples/clients/add">Ajout client</a></li>
                        <li><a  routerLink="/peoples/suppliers">Liste fournisseurs</a></li>
                        <li><a  routerLink="/peoples/suppliers/add">Ajout fournisseurs</a></li>
                      
                        <li><a href="javascript:void(0);">Importer</a></li>
                    </ul>
                </li>
             

                <li class="submenu">
                    <a href="javascript:void(0);"><img src="assets/img/icons/users1.svg" alt="img"><span>
                            Utilisateur</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a routerLink="/admins/users/list">Liste utilisateurs</a></li>
                        <li><a routerLink="/admins/users/list">Ajout utilisateurs</a></li>
                        <li><a   routerLink="/admins/roles/list">Liste rôles</a></li>
                    </ul>
                </li>
             
               
               
                
               
            
            </ul>
        </div>
    </div>
</div>
